@use '@styles/mixin.module.scss' as mixin;
@use '@styles/variable.module.scss' as variable;

.container {
  @include mixin.flex_box_custom(space-between, unset, 0px);

  padding: 20px 20px 0 20px;
  height: 95%;
  flex-direction: column;

  .boxBtn {
    @include mixin.flex_box_custom(space-between, unset, 0px);
    flex-direction: column;
    gap: 10px;
  }
}
